{% extends "base-layout.html" %}

{% load static %}

{% block page_title %}关于我们{% endblock %}

{% block page_main %}
	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
					<li style="background-image: url({% static 'images/img_bg_2.jpg' %});">
						<div class="overlay"></div>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-6 col-md-offset-3 text-center slider-text">
									<div class="slider-text-inner">
										<h1>关于我们</h1>
										<!-- <h2>Free html5 templates Made </h2> -->
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</aside>
		<div id="fh5co-about">
			<div class="row">
				<div class="col-md-12">
					<p>我们是一支来自五湖四海，为救助祖国疫情相识成立的小队。</p>
					<p>此“医院物资实时发布平台”经过多天昼夜开发，为了解决当下最大的问题之一：各医院物资短缺情况的实时跟踪。各医院可以随时修改目前紧缺物品数量，更好地协助政府和社会根据紧急程度分配资源。此外，各公益团体可以发布募捐信息，供个人进行捐赠。</p>
					<p>接下来平台会增加捐赠货物跟踪功能，争取让每一笔捐赠公开透明，请收藏转发平台让更多人受益。有意加入平台背后的团体请添加微信：15235110079</p>
				</div>
			</div>
		</div>
	</div><!-- END container-wrap -->
{% endblock %}