{% extends "base-layout.html" %}

{% load static %}

{% block page_title %}提交募捐信息{% endblock %}

{% block page_main %}
		<div class="container-wrap">
			<div id="fh5co-contact">				
				<div class="row">
					<div class="col-md-3 col-md-push-8 animate-box">
						<h3>我们的联系方式</h3>
						<ul class="contact-info">
							<li><i class="icon-phone3"></i>+ 1235 2355 98</li>
						<li><i class="icon-location3"></i><a href="#">info@yoursite.com</a></li>
						<li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>
					</ul>
				</div>
				<div class="col-md-7 col-md-pull-2 animate-box">
					<h3>递交表格</h3>
					<h5>递交/修改表格成功后，内容会直接发布</h5>
                    <h5>（建议在线下编辑好后，再复制上来）</h5>

					<form method="post", id="form1">
						
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<select name="select_projects" id="select_projects">
							        <option value="a">武汉医院</option>
							        <option value="b">武汉周边/湖北医院</option>
							        <option value="c">全国各地医院</option>
							        <!-- <option value="c">其它团体受捐（慈善机构，学生组织等）</option> -->
							        <optgroup label="其它团体受捐（慈善机构，学生组织等）">
							            <option value="d">慈善机构/公益组织</option>
							            <option value="e">公司/机构</option>
							            <option value="f">学生组织</option>
							            <option value="f">其它</option>
							    </select>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
								<input id="name" name = "name" type="text" class="form-control" placeholder="机构/个人名称" maxlength="15">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input id="contact" name = "contact" type="text" class="form-control" placeholder="您的名字" maxlength="10">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input id="contact" name = "contact" type="text" class="form-control" placeholder="您的联系方式" maxlength="20">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input id="contact" name = "contact" type="text" class="form-control" placeholder="其它联系人以及联系方式（选填）" maxlength="20">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input id="province" name = "province" type="text" class="form-control" placeholder="省份（例如：湖北）" maxlength="3">
							</div>
						</div>
 						<div class="col-md-6">
							<div class="form-group">
								<input id="city" name = "city" type="text" class="form-control" placeholder="城市" maxlength="3">
							</div>
						</div>                       
						<div class="col-md-12">
							<textarea id="main" class="form-control" rows="7"  maxlength="1000" placeholder="正文（简要叙述缺乏的物资，以及需求）"
								onchange="sizecontrol()" onkeydown="sizecontrol()" onkeyup="sizecontrol()" 
							></textarea> 
							<span id="ts">已输入: 0/1000字</span></p>
							<script>
							var maxl=1000//总长  
							function sizecontrol(){  
								var contents=document.getElementById("contents"),
									ts=document.getElementById("ts"),
									len=contents.value.length;  
								if(len>maxl){
									contents.value=contents.value.substr(0,maxl)
								}else{
									ts.innerHTML="已输入："+len+"/"+maxl+" 字"
								} 
							}  
							</script>
						
						</div>                            
						<div class="col-md-6">
							<div class="form-group">
								
							</div>
						</div>
						<br />
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="提交" onclick="submit_form()" class="btn btn-primary btn-modify">
							</div>
						</div>
						<script type="text/javascript">
					        function submit_form() {
					            $.ajax({
					                type: "POST",
					                dataType: "json",
					                url: "/users/login" ,
					                data: $('#form1').serialize(),
					                success: function (result) {
					                    console.log(result);
					                    if (result.resultCode == 200) {
					                        alert("SUCCESS");
					                    }
					                    ;
					                },
					                error : function() {
					                    alert("异常！");
					                }
					            });
					        }
					    </script>
					</div>
                    </form>
				</div>
				
			</div>
		</div>
	</div><!-- END container-wrap -->
{% endblock %}