{% extends "base-layout.html" %}

{% load static %}

{% block head_extra_style %}
	<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
{% endblock %}


{% block page_title %}提交团体信息{% endblock %}
{% block page_main %}
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>

<div class="container-wrap">
	<div id="fh5co-contact">
		<div class="row">
			<div class="col-md-3 col-md-push-8 animate-box">
				<h3>我们的联系方式</h3>
				<ul class="contact-info">
					<li><i class="icon-phone3"></i>+ 1235 2355 98</li>
					<li><i class="icon-location3"></i><a href="#">info@yoursite.com</a></li>
					<li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>
				</ul>
			</div>
			<div class="col-md-7 col-md-pull-2 animate-box">
				<h3>递交表格</h3>
				<h5>递交/修改表格成功后，内容会直接发布</h5>
				<h5>（建议在线下编辑好后，再复制上来）</h5>

				<form method="post" , id="form1">

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<select name="type" id="type" class="form-control">
									<option value="a">慈善机构/公益组织</option>
									<option value="b">公司/机构</option>
									<option value="c">学生组织</option>
									<option value="d">其它</option>
								</select>
							</div>
						</div>
						<script src="{% static 'js/bootbox.min.js' %}" type="text/javascript"></script>
						<script src="{% static 'js/bootstrap-select.min.js' %}" type="text/javascript"></script>
						<script src="{% static 'js/defaults-zh_CN.min.js' %}" type="text/javascript"></script>
						<script>
							$('#type').selectpicker({
								'liveSearch': true,
								'liveSearchNormalize': true,
								'mobile': (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i).test(navigator.userAgent)
							});
							$('#province').selectpicker('refresh');
						</script>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input id="name" name="name" type="text" class="form-control" placeholder="机构/团体名称"
									maxlength="15">
							</div>
						</div>
					
						<div class="col-md-6">
							<div class="form-group">
								<input id="address" name="address" type="text" class="form-control"
									placeholder="所在地（选填）" maxlength="15">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="contact_box">
								<div class="contact_info">
									<input type="text" class="form-control" placeholder="联系人-称呼">
									<input type="text" class="form-control" placeholder="联系人-手机">

								</div>
								<button class="add_contact" type="button">添加联系人</button>

							</div>
						</div>
					</div>
						<script>
							$(".add_contact").click(function () {
								var html = `
								<div class="contact_info">
								<input type="text" class="form-control" placeholder="联系人-称呼">
								<input type="text" class="form-control" placeholder="联系人-手机">
								<button onclick='del_item(1,this)' class='del_btn' type="button">删除该项</button>
							</div>
								`

								$(this).before(html)
							})


							function del_item(opt, self) {

								if (opt === 0) {
									$(self).parent().next().remove()
								}

								$(self).parent().remove()
							}

						</script>


					<div class="row">
						<div class="col-md-12">
							<textarea id="main_text" name="main_text" class="form-control" rows="7" maxlength="1000"
								placeholder="正文（简要叙述需求）" onchange="sizecontrol()" onkeydown="sizecontrol()"
								onkeyup="sizecontrol()"></textarea>
							<span id="ts">已输入: 0/1000字</span></p>
							<script>
								var maxl = 1000//总长  
								function sizecontrol() {
									var contents = document.getElementById("main_text"),
										ts = document.getElementById("ts"),
										len = contents.value.length;
									if (len > maxl) {
										contents.value = contents.value.substr(0, maxl)
									} else {
										ts.innerHTML = "已输入：" + len + "/" + maxl + " 字"
									}
								}  
							</script>

						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="submit" value="提交" onclick="group_form_submit()"
									class="btn btn-primary btn-modify">
							</div>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div><!-- END container-wrap -->
{% endblock %}

{% block page_footer %}
<script type="text/javascript">
	/**
	 * 团队提交
	 */
	function group_form_submit() {
		// 取值
		var name = $('#name').val(),
			address = $('#address').val(),
			contact_name = $('#contact_name').val(),
			contact_method = $('#contact_method').val(),
			contact_other = $('#contact_other').val();
		main_text = $('#main_text').val();
		// 验证(TODO: 更加严格的验证)
		var isOk = false,
			message = '',
			field = '';
		if (!name) {
			field = 'username';
			message = '请输入团体名称';
		}
		else {
			if (!contact_name) {
				field = 'phone';
				message = '请输入联系人';
			}
			else {
				if (!contact_method) {
					field = 'captcha';
					message = '请输入联系方式';
				}
				else {
					isOk = true;
				}
			}
		}

		if (!isOk) {
			bootbox.alert({
				size: "small",
				title: "提示",
				message: message,
				callback: function () {
					setTimeout(function () {
						$('#' + field).trigger('focus');
					}, 500);
				}
			});
			return;
		}
		// 请求
		$.ajax({
			url: GLOGAL.URL_FORM_GROUP, //TODO 后端接受数据
			type: 'POST',
			data: {
				name: name.trim(),
				address: address.trim(),
				contact_name: contact_name.trim(),
				contact_method: contact_method.trim(),
				contact_other: contact_other.trim(),
				main_text: main_text.trim()
			},
			dataType: 'json'
		}).done(function (resp) {
			console.log(resp);
		}).fail(function (err) {
			console.error(err);
		});
	}
</script>
{% endblock %}