{% extends "base-layout.html" %}

{% load static %}

{% load custom_filters %}

{% block page_title %}全国各地{% endblock %}

{% block page_main %}
<div class="container-wrap">
    <div id="fh5co-events">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading" style="margin-bottom: 50px;">
                <h2 class="list-name">募捐信息列表-所有城市</h2>
            </div>
        </div>

    </div>
    <div class="unit-box" >

    </div>

</div>
{% endblock %}