{% extends "base-layout.html" %}

{% load static %}

{% block head_extra_style %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
{% endblock %}

{% load custom_filters %}

{% block page_title %}全国各地{% endblock %}

{% block page_main %}

<script>
    function change_show_type1() {
       form1.style.display='';
       form2.style.display='none';
    }
    function change_show_type2() {
       form1.style.display='none';
       form2.style.display='';
    }
</script>

<div class="container-wrap">
    <div id="fh5co-events">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading" style="margin-bottom: 0px;">
                <h2 class="header_title">募捐信息列表-爱心团体</h2>
            </div>
        </div>

    </div>

    <div class="after_title">
        <nav class="fh5co-nav" role="navigation">
            <ul style="white-space: nowrap; margin-left:10.0px ">
                <li onclick="change_show_type2(); myFunction()"><a >以模块方式展示</a></li>
                <li onclick="change_show_type1(); myFunction()"><a >以表格方式展示</a></li>
            </ul>
        </nav>

        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="搜索关键词...", style="margin-bottom: 0.0px">
    </div>
    <style>
    th,td {
         padding: .65em;
    }
    th {
         background: #555 nonerepeat scroll 0 0;
           border: 1px solid #777;
           color: black;
           /*color: #fff;         */
    }
    td {
         border: 1px solid #777;
         color: black;
     }
     .after_title{
       margin: 0 auto;
     }
     #myInput{
       margin-left: 65px;
     }
     #table{
       margin-left: 44px
     }
     @media screen and (max-width: 768px) {
       .break{
         content: '<br>';
       }
       #myInput{
         margin-left: 25px
       }
       #table{
         margin-left: 2px
       }
       .after_title{
         margin-top: -20px
       }
     }
    .row_show{
          margin-left:18px;
         }
                
    @media screen and (max-width: 768px) {
    .row_show{
          margin-left:40px;
         }
        
        }
    </style>


    <div class="row row_show">

        <div class="unit-table teams-table" id="form1">
        </div>

        <div class="unit-box teams" id="form2">
        </div>

    </div>
    </div>

</div>
{% endblock %}

{% block page_footer %}
<script>
    const BaseURL = GLOGAL.API_BASE;

    if(window.screen.width<=768){
      $(".header_title").html('募捐信息列表<br>爱心团体');
    }

    function get_teams_box() {
        var unit_box = $(".teams")
        var html = ""

        $.get(BaseURL + "teams", function (data, status) {
            if (status === 'success') {
                for (var i of data.results) {
                    html += `
                    <div class="unit">
                        <ul style="margin-left: -25px; list-style: none; font-size:14px; color: rgb(75, 75, 75)">
                            <li>
                                <a style="font-size: 20px; margin-left:-9px; color:black">${i.name}</a>
                            </li>

                            <li>
                                <a style="color:black">地址：${i.address}</a>
                            </li>
                            <li>
                                <a style="color:black">${i.main_text}</a>
                            </li>
                            `

                            for (var contact of i.contacts) {
                                html += `
                            <li>
                                <a style="color:black">联系人：${contact.name}</a>
                                <a style="color:black">联系电话：${contact.phone}</a>

                            </li>
                            `
                            }
                            html += `

                            <li>
                            ${i.verified ? '<a style="color: green">已核实</a>' : '<p style="color: red">未核实</a>'}
                            </li>
                            <li>
                                <a style="color:grey">发布日期：${i.add_time.slice(0,10)}</a>
                            </li>
                        </ul>
                    </div>
                    `
                }

                unit_box.html(html)


            } else {
                alert('获取数据失败！')
            }
        });
    }

    function get_teams_table() {
        var unit_table = $(".teams-table")
        var html = ""

        $.get(GLOGAL.API_BASE + "teams", function (data, status) {
            if (status === 'success') {
                html += `
                <style>
                  th, td {
                    padding: 6px;                            
                    max-width: 300px;
                  }
                </style>
                <div id="table" style="overflow:auto; margin-right: 30px;">
                <table onload="myFunction()" style="border-collapse: collapse;">

                            <thead>
                                <tr>
                                    <th style="min-width:100px">团体名称</th>
                                    <th style="min-width:60px">联系人</th>
                                    <th style="min-width:60px">联系电话</th>
                                    <th style="min-width:300px">正文</th>
                                    <th style="min-width:80px">发布日期</th>
                                    <th style="min-width:60px">信息验证</th>
                               </tr>
                            </thead>
                            <tbody>`
                for (var i of data.results) {
                    html += `
                        <tr>
                            <td>${ i.name }</td>`
                    var contact_name = '';
                    var contact_phone = '';
                    for (var contact of i.contacts) {
                        contact_name += contact.name +' '
                        contact_phone += contact.phone +' '
                        }
                    html += `
                            <td>${ contact_name }</td>
                            <td>${ contact_phone }</td>
                            <td>${ i.main_text }</td>
                            <td>${ i.add_time.slice(0,10) }</td>
                            <td>${ i.verified ? '<font style="color: green">已核实</font>' : '<font style="color: red">未核实</font>'}</td>
                        </tr>`}

                html += `</tbody>
                         </table>
                         </div>`

                unit_table.append(html)
            } else {
                alert('获取数据失败！')
            }
        });
        // console.log($(".unit-table"))
    }
    get_teams_box()
    get_teams_table()

    function myFunction() {
      // 声明变量
        if (form1.style.display != 'none'){
//             console.log('here')
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter_search = input.value.toUpperCase();
            table = document.getElementById("form1");
            tr = table.getElementsByTagName("tr");
      // 循环表格每一行，查找匹配项
            for (i = 1; i < tr.length; i++) {
//                 console.log(ul[i].getElementsByTagName("li"))
                td1 = tr[i].getElementsByTagName("td")[0];

                if (td1) {

                    if (filter_search){
                        var search_result = false;
                        for (j = 0; j < tr[i].getElementsByTagName("td").length; j++){
                            search_result = search_result || (tr[i].getElementsByTagName("td")[j].innerHTML.toUpperCase().indexOf(filter_search) > -1)
                        }
//                             console.log(search_result)
                        }
                    else {
                        var search_result = true;
                    }
//                     console.log(search_result)
                    if (search_result) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
           }
        }
        else{
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter_search = input.value.toUpperCase();
            table = document.getElementById("form2");
            ul = table.getElementsByTagName("div");
//             console.log(ul)
          // 循环表格每一行，查找匹配项
            for (i = 0; i < ul.length; i++) {
//                 console.log(ul[i].getElementsByTagName("li"))
                li1 = ul[i].getElementsByTagName("a")[0];
//                 console.log(Boolean(filter_search))
                if (li1) {

                    if (filter_search){
                        var search_result = false;
                        for (j = 0; j < ul[i].getElementsByTagName("a").length; j++){
                            search_result = search_result || (ul[i].getElementsByTagName("a")[j].innerHTML.toUpperCase().indexOf(filter_search) > -1)
                        }
//                             console.log(search_result)
                        }
                    else {
                        var search_result = true;
                    }

                    if (search_result) {
                        ul[i].style.display = "";
                    } else {
                        ul[i].style.display = "none";
                    }
                }
           }
       }
    };

    form1.style.display='none';
    setTimeout(function (){
                myFunction();
            }, 500);


</script>
{% endblock %}
