{% extends "base-layout.html" %}

{% load static %}

{% load custom_filters %}

{% block page_title %}全国各地{% endblock %}

{% block page_main %}
<div class="container-wrap">
    <div id="fh5co-events">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading" style="margin-bottom: 50px;">
                <h2>募捐信息列表-所有城市</h2>
            </div>
        </div>

    </div>
    <div class="unit-box" >
        <!-- 测试1
        <div class="unit">
            <ul style="list-style: none; font-size:18px; color: rgb(75, 75, 75)">
                <li>
                    <p>仁和医院</p>
                </li>
                <li>
                    <p>地址：北京市</p>
                </li>
                <li>
                    <p>省份：北京</p>
                </li>
                <li>
                    <p>城市：北京</p>
                </li>


                <li>
                    <p style="color: red;">需求：口罩(3000)</p>
                    <p>备注：急需</p>
                </li>

                <li>
                    <p>联系人：王医生</p>
                    <p>联系电话：18727616721672</p>
                </li>
                <li>
                    <p>发布日期：2020-01-31</p>
                </li>
                <li>
                    <p style="color: green;">已核实</p>
                </li>
            </ul>
        </div>
        测试2
        <div class="unit">
            <ul style="list-style: none; font-size:18px; color: rgb(75, 75, 75)">
                <li>
                    <p>仁和医院</p>
                </li>
                <li>
                    <p>地址：北京市</p>
                </li>
                <li>
                    <p>省份：北京</p>
                </li>
                <li>
                    <p>城市：北京</p>
                </li>


                <li>
                    <p style="color: red;">需求：口罩(3000)</p>
                    <p>备注：急需</p>
                </li>

                <li>
                    <p>联系人：王医生</p>
                    <p>联系电话：18727616721672</p>
                </li>
                <li>
                    <p>发布日期：2020-01-31</p>
                </li>
                <li>
                    <p style="color: red">未核实</p>
                </li>
            </ul>
        </div> -->
    </div>

</div>
{% endblock %}