{% extends "base-layout.html" %}

{% load static %}

{% load custom_filters %}

{% block page_title %}团体信息{% endblock %}

{% block page_main %}
    <div class="container-wrap">
        <div id="fh5co-events">
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading" style="margin-bottom: 50px;">
                    <h2>募捐信息列表-所有城市</h2>
                </div>
            </div>

        </div>
        <div class="row" , style="margin-left:18px;">
            {% for items in data %}
            <div class="col-md-4 animate-box" style="height: 600px; width:335px; border: #000000; border-width:1.5px; margin-right:10px; margin-bottom:10px; border-style:solid">
                <div class="events-entry">
                    <ul style="list-style: none; font-size:18px; color: black">
                        <li><font style="font-size: 25">{{ items.3 }}</font></li>
                        <li><font style="font-size: 25">地址：</font>{{ items.4 }}</li>
                        <li><font style="font-size: 25">联系人：</font>{{ items.2 }}</li>
                        <li><font style="font-size: 25">发布日期：</font>{{ items.10 }}</li>
                        {% if items.9%}
                        <li><font style="font-size: 25 color: green">已核实</font></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}